/**
 * Created by Timothy on 12/3/2014.
 */

body {
    background-color: #ebebeb;
}

.nav-tabs {
    background-color: #4e5d6c;
}

.navbar-nav li {
    font-size: 24px;
}

.dropdown-menu > li > a {
    font-size: 20px;
}

p, legend, label {
    color: #000000;
}